@charset "utf-8";

*{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none;}
button{border:none; background: none; cursor:pointer;}

body{
    font-family: Arial, sans-serif;
}

.sitemap_wrap{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 999;
    display: none;
}

.sitemap_wrap.on{
    display: block;
}

.sitemap_wrap .content{
    width: 1200px;
    height: 800px;
    /* border: 1px solid red; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* depth1 자리 */

.sitemap_wrap .content .depth1{
    display: flex;
    width: 100%;
    margin-top: 10px;
}

.sitemap_wrap .content .depth1>li{
    width: calc(100%/7); 
    /* 가로 분배를 균등하게 맞출 수 있음. */
    margin-bottom: 20px;
}

.sitemap_wrap .content .depth1>li>a{
    font-size: 25px;
    color: #fff;
}

/* depth2 자리 */

.sitemap_wrap .content .depth1>li>.depth2{
    margin-top: 20px;
}

.sitemap_wrap .content .depth1>li>.depth2>li{
    margin-top: 20px;
}

.sitemap_wrap .content .depth1>li>.depth2>li>a{
    font-size: 16px;
    text-indent: 10px;
    color: #fff;
    display: block;
    margin-bottom: 4px;
    text-indent: 10px;
    background: url(../images/bul01.gif) no-repeat 0 5px;
}

.sitemap_wrap .content .depth1>li>.depth2>li:hover>a{
    color: #37699E;
    text-decoration: underline;
}

/* depth3 자리 */

.sitemap_wrap .content .depth1>li>.depth2>li .depth3{
    margin-top: 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.sitemap_wrap .content .depth1>li>.depth2>li .depth3 li{

}

.sitemap_wrap .content .depth1>li>.depth2>li .depth3 li a{
    display: block;
    font-size: 13px;
    text-indent: 10px;
    color: #ccc;
}

.sitemap_wrap .content .depth1>li>.depth2>li .depth3 li:hover a{
    text-decoration: underline;
    color: #37699E;
}

/* content 박스 안 슬라이드 자리 */
.sitemap_wrap .content .sitemap_swiper .swiper-slide{
    width: 428px;
    height: 243px;
    display: block;
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.sitemap_wrap>.content>.sitemap_swiper>.swiper-pagination{
    border: 1px solid red;
    z-index: 1000;

}
.sitemap_wrap>.content>.sitemap_swiper>.swiper-slide>.btn_pause{
    background: url(../images/icon-slick-pause-sml-wht.svg) no-repeat;
    width: 30px;
    height: 30px;
    left: 50%;
    margin-left: 30px;
    text-indent: -9999999px;
    bottom: -5px;
    border: 1px solid red;
    z-index: 1000;
}

.btn_close{
    background: url(../images/btn_sitemap_close.png) no-repeat;
    width: 20px;
    height: 20px;
    text-indent: -99999px;
    /* text니까 block방식. 텍스트 날리기 */
    position: absolute;
    right: 0;
    top: 10px;
}

#header{
    width: 100%;
    border-bottom: 1px solid #d0d0d0;
}
#header .header-inner{
    width: 1200px;
    height: 70px;
    margin: 0 auto;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header .header-inner h1 a{
    display: block;
    text-indent: -99999px;
    background: url("../images/pic_mtopLogo.png") no-repeat;
    width: 98px;
    height: 28px;
}
#header .header-inner .gnb{
    display: flex;
    /* border: 1px solid red; */
}
#header .header-inner .gnb li{
    margin-right: 60px;
    position: relative;   
}
#header .header-inner .gnb li:before{
    content:"";
    width: 3px;
    height: 16px;
    background: #37699E;
    position: absolute;
    left: -10px;
    top: 50%;
    margin-top: -8px;
    display: none;
}
#header .header-inner .gnb li:hover:before{
    display: block;
}
#header .header-inner .gnb li a{
    display: block;
    color: #222;
    font-weight: bold;
    height: 70px;
    line-height: 70px;
}
#header .header-inner .util{
    display: flex;
}
#header .header-inner .util:hover{
    cursor: pointer;
}
#header .header-inner .util li{
    margin-left: 23px;
}
#header .header-inner .util li:first-child{
    margin-left: 0px;
    position: relative;
}
#header .header-inner .gnb li:hover a{
    color:#092743;
}
#header .header-inner .gnb li:last-child{
    margin-right: 0;
}

/* 전체메뉴 설정 */
#header .header-inner .util .all {
    width: 14px;
    height: 12px;
    background: url("../images/ico_mTopetc04.png") no-repeat;
    text-indent: -99999px;
    cursor: pointer;
    /* margin: 22px 0 0 22px; */
    display: block;
}

/* 영어 설정 */
#header .header-inner .util .lang {
    width: 27px;
    height: 10px;
    background: url("../images/ico_mTopetc02.png") no-repeat;
    text-indent: -99999px;
    cursor: pointer;
    /* margin: 22px 0 0 22px; */
    display: block;
}


/* ~~~~~~~~~~~ 검색폼 위치 ~~~~~~~~~~~ */

#header .header-inner .util .search a{ 
    width: 15px;
    height: 15px;
    background: url("../images/ico_mTopetc01.png") no-repeat;
    text-indent: -99999px;
    cursor: pointer;
    /* margin:22px 0 0 22px;   */
    display: block;
}

#header .header-inner .util .search .search_form {
    width: 400px;
    height: 58px;
    background: url(../images/bg_searchbox.png) no-repeat;
    position: absolute;
    left: -330px;
    top: 36px;
    z-index: 100; /* 레이어 위로 올리기. 이거 없으면 배경으로 깔아놓은 슬라이드 이미지에 가려짐 */
    padding: 9px 20px 9px 20px;
    display: none;

}

#header .header-inner .util .search .search_form.on{
    display: block;
}

#header .header-inner .util .search legend { /* 검색폼에 넣어둔 명칭(시각장애인용) 날리기 */
    position: absolute;
    left: 9999999px; /* 그냥 날리기만 하면 text-indent로 날리면 여백이 남음. left로 날려서 여백 삭제 */
}

#header .header-inner .util .search input {
    width: 290px;
    height: 30px;
    border: none;
    margin-top: 9px;
    float: left;
}

#header .header-inner .util .search form .btn_search {
    text-indent: -999999px;
    /* border: 1px solid red; */
    width: 51px;
    height: 10px;
    background: url(../images/btn_search.png) no-repeat;
    float: left;
    margin-top: 17px;
}

#header .header-inner .util .search fieldset {
    border: none;
}

/* ~~~~~~~~~~~ 검색폼 위치 ~~~~~~~~~~~ */
.eng{
    width: 27px;
    height: 10px;
    background: url("../images/ico_mTopetc02.png") no-repeat;
    background-size: 27px 10px;
    text-indent: -99999px;
    margin: 2.5px 0 0 0;
    cursor:pointer;
}
.menu{
    width: 14px;
    height: 12px;
    background: url("../images/ico_mTopetc04.png") no-repeat;
    background-size: 14px 12px;
    text-indent: -99999px;
    margin: 1px 0 0 0;
    cursor:pointer;
}
#main{
    width: 100%;
}

.swiper-wrapper{
    text-align: center;
}

.swiper .btn_pause{
    background: url(../images/icon-slick-pause-sml-wht.svg) no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 50%;
    margin-left: 30px;
    text-indent: -9999999px;
    bottom: -5px;
    /* border: 1px solid red; */
    z-index: 900;
}

.swiper-pagination{
    position: absolute;
    left: 50%;
    bottom: 200px;
}

/* 홈페이지 */
#main .main_inner{
    width: 1200px;
    /* border: 5px solid red; */
    position: absolute;
    left: 50%;
    top: 60%;
    /* 정중앙 위치맞추기 */
    transform: translate(-50%, -50%);
    z-index: 10;
    text-align: center;
}

#main .main_inner .inner_list{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#main .main_inner .inner_list li{
    padding: 20px 0;
}

#main .main_inner .inner_list li:first-child{
    border-bottom: 1px solid white;
}

#main .main_inner .txt1{
    font-size: 20px;
    color: #fff;
    margin: 20px 0 35px;
}

#main .main_inner .list{
    width: 1110px;
    /* 부모를 기준으로 가운데 정렬 */
    margin: 0 auto;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
}

#main .main_inner .list:nth-child(2){
    margin: 0 30px;
}

#main .main_inner .list li{
    position: relative;
}

#main .main_inner .list li a h4{
    font-size: 16px;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    white-space: nowrap;
    font-weight: lighter;
}

#main .main_inner .list li .mask{
    width: 356px;
    height: 196px;
    overflow: hidden;
    position: relative;
}

#main .main_inner .list li .mask:before{
    content: '';
    /* 100%로 설정해서 부모의 설정 그대로 가져오게 만든다. */
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 0px solid #fff;
    position: absolute;
    left: 0;
    top: 0;
}

#main .main_inner .list li:hover img{
    transform: scale(1.1);
    /* ease-in-out 트랜지션에 가속도 붙이기 */
    transition: all 0.2 ease-in-out;
}

#main .main_inner .list li:hover .mask:before{
    border-width: 6px;
    z-index: 100;
}

#main .main_inner .txt2{
    font-size: 16px;
    color: #fff;
    margin: 80px 0 15px;
}

.btn_link{
    display: inline-block;
    width: 178px;
    height: 48px;
    line-height: 48px;
    border: 2px solid white;
    color: #fff;
    background: rgba(0, 0, 0, 0.25);
    position: relative;
}

.btn_link:before{
    content: "";
    width: 1110px;
    height: 1px;
    background: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -62px;
}

#main .main_inner .dc{
    display: flex;
    position: absolute;
    /* width: 100%; */
    left: 50%;
    transform: translateX(-50%);
    bottom: -120px;
    margin: 0 auto;
    justify-content: space-between;
    font-size: 18px;
    color: #fff;
    list-style: none;
    display: flex;
    align-items: center;
    width: 900px;
    /* margin: 30px auto; */
}

#main .main_inner .dc img{
    left: 30px;
}

#main .main_inner .dc button{
    font-size: 18px;
    color: #fff;
    list-style: none;
    margin: 0 20px 0 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

#main .main_inner .dc button img{
    margin-right: 20px;
}

/* #main .visual{
    height: 920px;
    background: url("../images/main_01_01.jpg") no-repeat center top;
} */

#footer{
    width: 100%;
    height: 90px;
    grid-template: #e1e1e1;
}
#footer .footer_inner{
    width: 1200px;
    height: 90px;
    margin: auto;
/* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    box-sizing: border-box;
}

#footer .footer_inner .info{

}

#footer .footer_inner .info_top{
    display: flex;
}

#footer .footer_inner .info_top li{
    padding: 0 15px;
    position: relative;
}
#footer .footer_inner .info_top li:after{
    content:"";
    width: 1px;
    height: 11px;
    background-color: #9b9b9b;
    position: absolute;
    left: 0;
    top: 50%;
    transform:translateY(-50%)
}

#footer .footer_inner .info_top li:first-child{
    padding-left: 0; 
}

#footer .footer_inner .info_top li:first-child:after{
    display: none;
}
#footer .footer_inner .info_top li:nth-child(3) a{
    font-weight: bold;
    color: #37699e;
}
#footer .footer_inner .info_top li a{
    font-size: 13px;
    color: #333;
    letter-spacing: -1px;
}

#footer .footer_inner .info_top li:last-child img{
    width: 30px;
}

#footer .footer_inner .info address{
    margin-top: 30px;
    font-size: 13px;
    color: #555;
    font-style: normal;
}
#footer .footer_inner .family {
    position:relative;
}

#footer .footer_inner .family .btn_company{
    margin-left: 20px;
}
#footer .footer_inner .family .work_list{
    width: 297px;
    height: 180px;
    background: #222;
    position: absolute;
    right: 0;
    transform: translateX(-50%);
    bottom: 100px;
    z-index: 10;
    padding: 10px 10px 10px 20px;
    display: none;
}

#footer .footer_inner .family .work_list.on{
    display: block;
}

#footer .footer_inner .family .work_list h2{
    text-indent: 10px;
    font-size: 16px;
    color: white;
    position: relative;
}
#footer .footer_inner .family .work_list h2::before{
    content:"";
    width: 100%;
    height: 1px;
    background: rgba(255,255,255,0.5);
    position: absolute;
    left: 0;
    bottom: -10px;
}
#footer .footer_inner .family .work_list .list{
    padding: 10px ;
    padding-top: 20px;
}

#footer .footer_inner .family .work_list .list li{
    width: 50%;
    float: left;
}

#footer .footer_inner .family .work_list .list li a{
    color: #aaa;
    font-size: 13px;
    letter-spacing: -1px;
}

#footer .footer_inner .family .work_list .list li:hover a{
    text-decoration: underline;
}

#footer .footer_inner .family .site{
    width: 297px;
    height: 180px;
    background: rgb(73, 73, 73);
    position: absolute;
    right: 0;
    left: 220px;
    transform: translateX(-50%);
    bottom: 100px;
    z-index: 10;
    padding: 10px 10px 10px 20px;
    display: none;
}

#footer .footer_inner .family .site.on{
    display: block;
}

#footer .footer_inner .family .site h2{
    text-indent: 10px;
    font-size: 16px;
    color: white;
    position: relative;
}
#footer .footer_inner .family .site h2::before{
    content:"";
    width: 100%;
    height: 1px;
    background: rgba(255,255,255,0.5);
    position: absolute;
    left: 0;
    bottom: -10px;
}
#footer .footer_inner .family .site .list2{
    padding: 10px ;
    padding-top: 20px;
}

#footer .footer_inner .family .site .list2 li{
    width: 50%;
    float: left;
}

#footer .footer_inner .family .site .list2 li a{
    color: #aaa;
    font-size: 13px;
    letter-spacing: -1px;
}

#footer .footer_inner .family .site .list2 li:hover a{
    text-decoration: underline;
}

#footer .footer_inner .family .btn_work{
    font-size: 13px;
    color: #222;
    width: 90px;
    height: 35px;
    border-bottom: 1px solid #333;
    text-align: left;
    background: url("../images/ico_plus.png") no-repeat right center;
}

#footer .footer_inner .family .btn_company{
    font-size: 13px;
    color: #222;
    width: 90px;
    height: 35px;
    border-bottom: 1px solid #333;
    text-align: left;
    background: url("../images/ico_plus.png") no-repeat right center;
}

#footer .footer_inner .family #btn_work.on { /* -버튼 */
    width : 90px;
    height: 35px;
    background: url("../images/ico_mius.png") no-repeat right center;
}

#footer .footer_inner .family #btn_company.on { /* -버튼 */
    width : 90px;
    height: 35px;
    background: url("../images/ico_mius.png") no-repeat right center;
}