@charset "utf-8";

*{
margin :0; 
padding: 0;
list-style: none;
text-decoration: none;
} /* 초기화 */

body{
    font-size: 14px;
}

#header{
    width: 100%;
    border-bottom: 1px solid #d0d0d0;
}

#header .header-inner{
    width: 1200px;
    height: 70px;
    margin: 0 auto;
    /* border: 1px solid red; */
    /* background-color: orange; */
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}

#header .header-inner h1{

}

#header .header-inner h1 a{
    display: block;
    text-indent: -99999px;
    width: 98px;
    height: 28px;
    background: url(../images/pic_mtopLogo.png) no-repeat;
}

#header .header-inner .gnb{
    display: flex;
}

#header .header-inner .gnb li {
    margin-right: 60px;
}

#header .header-inner .gnb li:last-child {
    margin-right: 0;
}

#header .header-inner .gnb li a {
    display: block;
    color: #222;
    font-weight: bold;
    height: 70px;
    line-height: 70px;
}

#header .header-inner .gnb li:hover a {
    color: #5789b9;
}
  
#header .header-inner .util {
    display: flex;
}
  
#header .header-inner .util li {
    margin-left: 22px;
}

#header .header-inner .util li:first-child {
    margin-left: 0px;
}

#header .header-inner .util li:first-child a {
    background: url("../images/ico_mTopetc01.png") no-repeat;
    width: 15px;
    height: 15px;
}

#header .header-inner .util li:nth-child(2) a {
    background: url("../images/ico_mTopetc02.png") no-repeat;
    margin-top: 2px;
    width: 27px;
    height: 10px;
}

#header .header-inner .util li:nth-child(3) a {
    background: url("../images/ico_mTopetc04.png") no-repeat;
    width: 14px;
    height: 12px;
}

#header .header-inner .util li a {
    display: block;
    text-indent: -9999px;
}

#main {
    width: 100%;
}

#main .visual {
    background: url("../images/main_01_01.jpeg") no-repeat center top;
    width: 100%;
    height: 920px;
}

#footer {
    width: 100%;
    background: #e1e1e1;
}
  
#footer .footer_inner {
    width: 1200px;
    height: 90px;
    margin: 0 auto;
}
  